Source: monitoring-plugins-sfl-check-redis
Section: python
Priority: optional
Maintainer: vdnguyen <vanduc.nguyen@savoirfairelinux.com>
Build-Depends: debhelper (>= 9), python-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/savoirfairelinux/monitoring-tools
Vcs-Git: git@github.com:savoirfairelinux/monitoring-tools.git
Vcs-Browser: https://github.com/savoirfairelinux/monitoring-tools.git

Package: monitoring-plugins-sfl-check-redis
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins
Description: check redis data base
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins
