#!/usr/bin/make -f

%:
	dh $@ --with python2 --install-layout=deb,quilt

override_dh_clean:
	rm -rf ./build
	rm -rf ./*.egg-info
	dh_clean

override_dh_install:
	dh_install
	mv debian/monitoring-plugins-sfl-check-redis/usr/bin/* debian/monitoring-plugins-sfl-check-redis/usr/lib/monitoring/plugins/sfl
	rmdir debian/monitoring-plugins-sfl-check-redis/usr/bin

override_dh_installdocs:
	sphinx-build -b html -d debian/tmp/doc/build/doctrees doc debian/tmp/doc/build/html
	dh_installdocs

override_dh_installman:
	sphinx-build -b man -d debian/tmp/doc/build/doctrees doc debian/tmp/doc/build/man
	dh_installman
