[submodule "plugin-check_asterisk_cdr_status"]
	path = plugins/plugin-check-asterisk-cdr-status
	url = git://github.com/savoirfairelinux/plugin-check_asterisk_cdr_status.git
	branch = master
[submodule "plugin-check_brother_toner_level"]
	path = plugins/plugin-check-brother-toner-level
	url = git://github.com/savoirfairelinux/plugin-check_brother_toner_level.git
	branch = master
[submodule "plugin-check_carp_by_ssh"]
	path = plugins/plugin-check-carp-by-ssh
	url = git://github.com/savoirfairelinux/plugin-check_carp_by_ssh.git
	branch = master
[submodule "plugin-check_ceilometer"]
	path = plugins/plugin-check-ceilometer
	url = git://github.com/savoirfairelinux/plugin-check_ceilometer.git
	branch = master
[submodule "plugin-check_cpu"]
	path = plugins/plugin-check-cpu
	url = git://github.com/savoirfairelinux/plugin-check_cpu.git
	branch = master
[submodule "plugin-check_fake"]
	path = plugins/plugin-check-fake
	url = git://github.com/savoirfairelinux/plugin-check_fake.git
	branch = master
[submodule "plugin-check_libvirt_stats"]
	path = plugins/plugin-check-libvirt-stats
	url = git://github.com/savoirfairelinux/plugin-check_libvirt_stats.git
	branch = master
[submodule "plugin-check_linux_traffic"]
	path = plugins/plugin-check-linux-traffic
	url = git://github.com/savoirfairelinux/plugin-check_linux_traffic.git
	branch = master
[submodule "plugin-check_mem"]
	path = plugins/plugin-check-mem
	url = git://github.com/savoirfairelinux/plugin-check_mem.git
	branch = master
[submodule "plugin-check_mpt_status"]
	path = plugins/plugin-check-mpt-status
	url = git://github.com/savoirfairelinux/plugin-check_mpt_status.git
	branch = master
[submodule "plugin-check_openbsd_sysstats_byssh"]
	path = plugins/plugin-check-openbsd-sysstats-byssh
	url = git://github.com/savoirfairelinux/plugin-check_openbsd_sysstats_byssh.git
	branch = master
[submodule "plugin-check_openerp"]
	path = plugins/plugin-check-openerp
	url = git://github.com/savoirfairelinux/plugin-check_openerp.git
	branch = master
[submodule "plugin-check_poller2livestatus"]
	path = plugins/plugin-check-poller2livestatus
	url = git://github.com/savoirfairelinux/plugin-check_poller2livestatus.git
	branch = master
[submodule "plugin-check_printer_hp_2600n"]
	path = plugins/plugin-check-printer-hp-2600n
	url = git://github.com/savoirfairelinux/plugin-check_printer_hp_2600n.git
[submodule "plugin-check_wanpipe"]
	path = plugins/plugin-check-wanpipe
	url = git://github.com/savoirfairelinux/plugin-check_wanpipe.git
	branch = master
[submodule "plugin-check_tripplite_ups"]
	path = plugins/plugin-check-tripplite-ups
	url = git://github.com/savoirfairelinux/plugin-check_tripplite_ups.git
	branch = master
[submodule "plugin-check_spa2102"]
	path = plugins/plugin-check-spa2102
	url = git://github.com/savoirfairelinux/plugin-check_spa2102.git
	branch = master
[submodule "plugin-check_snmp_printer"]
	path = plugin-check_snmp_printer
	url = git://github.com/savoirfairelinux/plugin-check_snmp_printer.git
	branch = master
[submodule "plugin-check_smtp_success_ratio"]
	path = plugins/plugin-check-smtp-success-ratio
	url = git://github.com/savoirfairelinux/plugin-check_smtp_success_ratio.git
	branch = master
[submodule "plugin-check_site_health"]
	path = plugins/plugin-check-site-health
	url = git://github.com/savoirfairelinux/plugin-check_site_health.git
	branch = master
[submodule "plugin-check_samba"]
	path = plugins/plugin-check-samba
	url = git://github.com/savoirfairelinux/plugin-check_samba.git
	branch = master
[submodule "plugin-check_reactionner_health"]
	path = plugins/plugin-check-reactionner-health
	url = git://github.com/savoirfairelinux/plugin-check_reactionner_health.git
	branch = master
[submodule "plugin-check_rancid"]
	path = plugins/plugin-check-rancid
	url = git://github.com/savoirfairelinux/plugin-check_rancid.git
	branch = master
[submodule "plugin-check_graphite_api"]
	path = plugins/plugin-check-graphite-api
	url = git://github.com/savoirfairelinux/plugin-check_graphite_api.git
[submodule "packs/pack-generic-carbon-tcp"]
	path = packs/pack-generic-carbon-tcp
	url = https://github.com/savoirfairelinux/pack-generic-carbon-tcp.git
[submodule "packs/pack-generic-dhcp"]
	path = packs/pack-generic-dhcp
	url = https://github.com/savoirfairelinux/pack-generic-dhcp.git
[submodule "packs/pack-generic-dns"]
	path = packs/pack-generic-dns
	url = https://github.com/savoirfairelinux/pack-generic-dns.git
[submodule "packs/pack-generic-graphite-http"]
	path = packs/pack-generic-graphite-http
	url = https://github.com/savoirfairelinux/pack-generic-graphite-http.git
[submodule "packs/pack-generic-host"]
	path = packs/pack-generic-host
	url = https://github.com/savoirfairelinux/pack-generic-host.git
[submodule "packs/pack-generic-ldap"]
	path = packs/pack-generic-ldap
	url = https://github.com/savoirfairelinux/pack-generic-ldap.git
[submodule "packs/pack-generic-multisite-http"]
	path = packs/pack-generic-multisite-http
	url = https://github.com/savoirfairelinux/pack-generic-multisite-http.git
[submodule "packs/pack-generic-radius"]
	path = packs/pack-generic-radius
	url = https://github.com/savoirfairelinux/pack-generic-radius.git
[submodule "packs/pack-generic-repodeb-http"]
	path = packs/pack-generic-repodeb-http
	url = https://github.com/savoirfairelinux/pack-generic-repodeb-http.git
[submodule "packs/pack-generic-saltmaster-tcp"]
	path = packs/pack-generic-saltmaster-tcp
	url = https://github.com/savoirfairelinux/pack-generic-saltmaster-tcp.git
[submodule "packs/pack-generic-smb"]
	path = packs/pack-generic-smb
	url = https://github.com/savoirfairelinux/pack-generic-smb.git
[submodule "packs/pack-generic-splunk-http"]
	path = packs/pack-generic-splunk-http
	url = https://github.com/savoirfairelinux/pack-generic-splunk-http.git
[submodule "packs/pack-generic-ssh"]
	path = packs/pack-generic-ssh
	url = https://github.com/savoirfairelinux/pack-generic-ssh.git
