[submodule "plugin-check_asterisk_cdr_status"]
	path = plugin-check_asterisk_cdr_status
	url = git://github.com/savoirfairelinux/plugin-check_asterisk_cdr_status.git
	branch = master
[submodule "plugin-check_brother_toner_level"]
	path = plugin-check_brother_toner_level
	url = git://github.com/savoirfairelinux/plugin-check_brother_toner_level.git
	branch = master
[submodule "plugin-check_carp_by_ssh"]
	path = plugin-check_carp_by_ssh
	url = git://github.com/savoirfairelinux/plugin-check_carp_by_ssh.git
	branch = master
[submodule "plugin-check_ceilometer"]
	path = plugin-check_ceilometer
	url = git://github.com/savoirfairelinux/plugin-check_ceilometer.git
	branch = master
[submodule "plugin-check_cpu"]
	path = plugin-check_cpu
	url = git://github.com/savoirfairelinux/plugin-check_cpu.git
	branch = master
[submodule "plugin-check_fake"]
	path = plugin-check_fake
	url = git://github.com/savoirfairelinux/plugin-check_fake.git
	branch = master
[submodule "plugin-check_libvirt_stats"]
	path = plugin-check_libvirt_stats
	url = git://github.com/savoirfairelinux/plugin-check_libvirt_stats.git
	branch = master
[submodule "plugin-check_linux_traffic"]
	path = plugin-check_linux_traffic
	url = git://github.com/savoirfairelinux/plugin-check_linux_traffic.git
	branch = master
[submodule "plugin-check_mem"]
	path = plugin-check_mem
	url = git://github.com/savoirfairelinux/plugin-check_mem.git
	branch = master
[submodule "plugin-check_mpt_status"]
	path = plugin-check_mpt_status
	url = git://github.com/savoirfairelinux/plugin-check_mpt_status.git
	branch = master
[submodule "plugin-check_openbsd_sysstats_byssh"]
	path = plugin-check_openbsd_sysstats_byssh
	url = git://github.com/savoirfairelinux/plugin-check_openbsd_sysstats_byssh.git
	branch = master
[submodule "plugin-check_openerp"]
	path = plugin-check_openerp
	url = git://github.com/savoirfairelinux/plugin-check_openerp.git
	branch = master
[submodule "plugin-check_poller2livestatus"]
	path = plugin-check_poller2livestatus
	url = git://github.com/savoirfairelinux/plugin-check_poller2livestatus.git
	branch = master
[submodule "plugin-check_printer_hp_2600n"]
	path = plugin-check_printer_hp_2600n
	url = git://github.com/savoirfairelinux/plugin-check_printer_hp_2600n.git
[submodule "plugin-check_wanpipe"]
	path = plugin-check_wanpipe
	url = git://github.com/savoirfairelinux/plugin-check_wanpipe.git
	branch = master
[submodule "plugin-check_tripplite_ups"]
	path = plugin-check_tripplite_ups
	url = git://github.com/savoirfairelinux/plugin-check_tripplite_ups.git
	branch = master
[submodule "plugin-check_spa2102"]
	path = plugin-check_spa2102
	url = git://github.com/savoirfairelinux/plugin-check_spa2102.git
	branch = master
[submodule "plugin-check_snmp_printer"]
	path = plugin-check_snmp_printer
	url = git://github.com/savoirfairelinux/plugin-check_snmp_printer.git
	branch = master
[submodule "plugin-check_smtp_success_ratio"]
	path = plugin-check_smtp_success_ratio
	url = git://github.com/savoirfairelinux/plugin-check_smtp_success_ratio.git
	branch = master
[submodule "plugin-check_site_health"]
	path = plugin-check_site_health
	url = git://github.com/savoirfairelinux/plugin-check_site_health.git
	branch = master
[submodule "plugin-check_samba"]
	path = plugin-check_samba
	url = git://github.com/savoirfairelinux/plugin-check_samba.git
	branch = master
[submodule "plugin-check_reactionner_health"]
	path = plugin-check_reactionner_health
	url = git://github.com/savoirfairelinux/plugin-check_reactionner_health.git
	branch = master
[submodule "plugin-check_rancid"]
	path = plugin-check_rancid
	url = git://github.com/savoirfairelinux/plugin-check_rancid.git
	branch = master
[submodule "plugin-check_graphite_api"]
	path = plugin-check_graphite_api
	url = git://github.com/savoirfairelinux/plugin-check_graphite_api.git
