*.pyc
*.swp
env/
pep8.txt
htmlcov
total_coverage.txt
.coverage
*/*/test/*.xml
test/*.xml
cover_db
last_env_hash
last_env
snmpsim.egg-info/
pep8.txt
debian/files
debian/*/
debian/*.debhelper.log
debian/*.substvars
test/devices/*.dbm
doc/build
