Source: plugin-check-asterisk-cdr-status
Section: python
Priority: optional
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/plugin-check-asterisk-cdr-status
#Vcs-Git: git://anonscm.debian.org/collab-maint/plugin-check-asterisk-cdr-status.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/plugin-check-asterisk-cdr-status.git;a=summary

Package: plugin-check-asterisk-cdr-status
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shinken plugin from SFL. Check asterisk sql cdr
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins
