Source: plugin-check-ferries
Section: python
Priority: optional
Maintainer: vdnguyen <vanduc.nguyen@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/plugin-check-ferries
Vcs-Git: git://anonscm.debian.org/collab-maint/plugin-check-ferries.git
Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/plugin-check-ferries.git;a=summary

Package: plugin-check-ferries
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins
Description: to check ferries
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins