Source: monitoring-plugins-sfl-{{ name }}
Section: python
Priority: optional
Maintainer: {{ author_name }} <{{ author_email }}>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/monitoring-tools
Vcs-Browser: https://github.com/savoirfairelinux/monitoring-tools.git

Package: monitoring-plugins-sfl-{{ name }}
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins
Description: {{ desc }}
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins
