Source: plugin-{{ name }}
Section: python
Priority: optional
Maintainer: {{ author_name }} <{{ author_email }}>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/plugin-{{ name }}
Vcs-Git: git://anonscm.debian.org/collab-maint/plugin-{{ name }}.git
Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/plugin-{{ name }}.git;a=summary

Package: plugin-{{ name }}
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins
Description: {{ desc }}
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins
