define host {
    name        linux-saltmaster-collectd
    use         generic-host
    register    0


   # Dummy values, must be more higher in the real life
   _PROCESS_SALTMASTER_MIN_WARN        0
   _PROCESS_SALTMASTER_MIN_CRIT        0
}