Source: plugin-check-http2
Section: python
Priority: optional
Maintainer: Matthieu Caneill <matthieu.caneill@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/plugin-check-http2
Vcs-Git: git://anonscm.debian.org/collab-maint/plugin-check-http2.git
Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/plugin-check-http2.git;a=summary

Package: plugin-check-http2
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins
Description: Checks HTTP sites, and doesn't timeout like good'old check_http.
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins