Source: monitoring-plugins-sfl-hydro-quebec
Section: python
Priority: optional
Maintainer: vdnguyen <vanduc.nguyen@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/monitoring-tools
Vcs-Git: git@github.com:savoirfairelinux/monitoring-tools.git
Vcs-Browser: https://github.com/savoirfairelinux/monitoring-tools.git

Package: monitoring-plugins-sfl-hydro-quebec
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins, python-lxml
Description: surveiller le nombre de pannes
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins
