Source: monitoring-plugins-sfl-x224
Section: python
Priority: optional
Maintainer: Grégory Starck <gregory.starck@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/monitoring-tools
Vcs-Git: git@github.com:savoirfairelinux/monitoring-tools.git
Vcs-Browser: https://github.com/savoirfairelinux/monitoring-tools.git

Package: monitoring-plugins-sfl-x224
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins
Description: Checks an x224 (RDP) service.
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins