Source: pack-generic-radius
Section: python
Priority: optional
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/savoirfairelinux/pack-generic-radius
#Vcs-Git: git://git.debian.org/collab-maint/pack-generic-radius.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pack-generic-radius.git;a=summary

Package: pack-generic-radius
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: :description:       The Radius udp port to query. Default: 1812
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-packs
