Source: pack-windows-mssql
Section: python
Priority: optional
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/savoirfairelinux/pack-windows-mssql
#Vcs-Git: git://git.debian.org/collab-maint/pack-windows-mssql.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pack-windows-mssql.git;a=summary

Package: pack-windows-mssql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-packs
