Source: pack-generic-multisite-http
Section: python
Priority: optional
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/savoirfairelinux/pack-generic-multisite-http
#Vcs-Git: git://git.debian.org/collab-maint/pack-generic-multisite-http.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pack-generic-multisite-http.git;a=summary

Package: pack-generic-multisite-http
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: :description:       Warning threshold. Default: 5
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-packs
