Source: plugin-check-ceilometer
Section: python
Priority: optional
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/plugin-check-ceilometer
#Vcs-Git: git://anonscm.debian.org/collab-maint/plugin-check-ceilometer.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/plugin-check-ceilometer.git;a=summary

Package: plugin-check-ceilometer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-keystoneclient, python-ceilometerclient
Description: Shinken plugin from SFL. A Nagios plug-in to use OpenStack Ceilometer API for metering
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins
