Source: monitoring-packs-sfl-windows-sophos-collectd
Section: python
Priority: optional
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/savoirfairelinux/monitoring-tools
#Vcs-Git: git@github.com:savoirfairelinux/monitoring-tools.git
#Vcs-Browser: https://github.com/savoirfairelinux/monitoring-tools.git

Package: monitoring-packs-sfl-windows-sophos-collectd
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-packs
