Source: monitoring-plugins-sfl-reseaucontactcom
Section: python
Priority: optional
Maintainer: Matthieu Caneill <matthieu.caneill@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/monitoring-tools
Vcs-Git: git@github.com:savoirfairelinux/monitoring-tools.git
Vcs-Browser: https://github.com/savoirfairelinux/monitoring-tools.git

Package: monitoring-plugins-sfl-reseaucontactcom
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins, python-lxml
Description: Checks number of lonely hearts on reseaucontact.com.
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins