## Ask a NRPE agent
## Requires that you have the NRPE daemon running on the remote host.
# check_nrpe -H <host> [-n] [-u] [-p <port>] [-t <timeout>] [-c <command>] [-a
# <arglist...>]
define command {
    command_name    check_nrpe
    command_line    $PLUGINSDIR$/check_nrpe -H $HOSTADDRESS$ -t 9 -u -c $ARG1$
}

## Ask a NRPE agent with arguments (passing arguments may be a security risk)
## Requires that you have the NRPE daemon running on the remote host.
# check_nrpe -H <host> [-n] [-u] [-p <port>] [-t <timeout>] [-c <command>] [-a
# <arglist...>]
define command {
    command_name    check_nrpe_args
    command_line    $PLUGINSDIR$/check_nrpe -H $HOSTADDRESS$ -t 9 -u -c $ARG1$ -a $ARG2$ $ARG3$ $ARG4$ $ARG5$
}

define command {
    command_name    check_dummy
    command_line    $PLUGINSDIR$/check_dummy $ARG1$ $ARG2$
}

################################################################################
# Host_alive_checks
################################################################################

define command {
    command_name    check_host_alive
    command_line    $PLUGINSDIR$/check_ping -H $HOSTADDRESS$ -w 1000,100% -c 3000,100% -p 1
}


################################################################################
# Notification_commands
#===============================================================================
# Download:
# - notify-*-by-email:
#       Use 'printf' and 'mail' system tools. (you may need to update their
#       paths, ie. "/bin/mail" instead of "/usr/bin/mail").
# - notify-*-by-xmpp:
#       The Python script is in the libexec folder of the Shinken's sources.
#       It need the Python XMPP module.
#       On supported distributions, this addon can be installed and configured by
#           ./install -a notify_by_xmpp
# - notify-*-by-android-sms:
#       Use Shinken reactionner (see shinken-specific.cfg).
################################################################################

## Notify Host by Email
define command {
    command_name    notify-host-by-email
    command_line    /usr/bin/printf "%b" "Shinken Notification\n\nType:$NOTIFICATIONTYPE$\nHost: $HOSTNAME$\nState: $HOSTSTATE$\nAddress: $HOSTADDRESS$\nInfo: $HOSTOUTPUT$\nDate/Time: $DATE$ $TIME$\n" | /usr/bin/mail -s "Host $HOSTSTATE$ alert for $HOSTNAME$" $CONTACTEMAIL$
}

## Notify Service by Email
define command {
    command_name    notify-service-by-email
    command_line    /usr/bin/printf "%b" "Shinken Notification\n\nNotification Type: $NOTIFICATIONTYPE$\n\nService: $SERVICEDESC$\nHost: $HOSTNAME$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\n\nDate/Time: $DATE$ $TIME$\nAdditional Info : $SERVICEOUTPUT$\n" | /usr/bin/mail -s "** $NOTIFICATIONTYPE$ alert - $HOSTNAME$/$SERVICEDESC$ is $SERVICESTATE$ **" $CONTACTEMAIL$
}

## Notify Host by XMPP
define command {
    command_name    notify-host-by-xmpp
    command_line    $PLUGINSDIR$/notify_by_xmpp.py -a $PLUGINSDIR$/notify_by_xmpp.ini "Host '$HOSTNAME$' is $HOSTSTATE$ - Info : $HOSTOUTPUT$" $CONTACTEMAIL$
}

## Notify Service by XMPP
define command {
    command_name    notify-service-by-xmpp
    command_line    $PLUGINSDIR$/notify_by_xmpp.py -a $PLUGINSDIR$/notify_by_xmpp.ini "$NOTIFICATIONTYPE$ $HOSTNAME$ $SERVICEDESC$ $SERVICESTATE$ $SERVICEOUTPUT$ $LONGDATETIME$" $CONTACTEMAIL$
}

## Notify Host by SMS (through an Android phone)
# You need both reactionner_tag and module_type in most cases!
define command {
    command_name        notify-host-by-android-sms
    command_line        android_sms $CONTACTPAGER$ Host: $HOSTNAME$\nAddress: $HOSTADDRESS$\nState: $HOSTSTATE$\nInfo: $OUTPUT$\nDate: $DATETIME$
    reactionner_tag     android_sms
    module_type         android_sms
}

## Notify Service by SMS (through an Android phone)
# You need both reactionner_tag and module_type in most cases!
define command {
    command_name        notify-service-by-android-sms
    command_line        android_sms $CONTACTPAGER$ Service: $SERVICEDESC$\nHost: $HOSTNAME$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\nInfo: $OUTPUT$\nDate: $DATETIME$
    reactionner_tag     android_sms
    module_type         android_sms
}
