Source: plugin-check-environment-canada
Section: python
Priority: optional
Maintainer: Matthieu Caneill <matthieu.caneill@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/plugin-check-environment-canada
Vcs-Git: git://anonscm.debian.org/collab-maint/plugin-check-environment-canada.git
Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/plugin-check-environment-canada.git;a=summary

Package: plugin-check-environment-canada
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins
Description: Checks various environment metrics in Canada.
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins