Source: plugin-check-brother-toner-level
Section: python
Priority: optional
Maintainer: Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/plugin-check-brother-toner-level
#Vcs-Git: git://anonscm.debian.org/collab-maint/plugin-check-brother-toner-level.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/plugin-check-brother-toner-level.git;a=summary

Package: plugin-check-brother-toner-level
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-lxml
Description: Shinken plugin from SFL. Check toner levels of Brother printer by http
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins
