Source: plugin-check-bixi-montreal
Section: python
Priority: optional
Maintainer: Matthieu Caneill <matthieu.caneill@savoirfairelinux.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/plugin-check-bixi-montreal
Vcs-Git: git://anonscm.debian.org/collab-maint/plugin-check-bixi-montreal.git
Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/plugin-check-bixi-montreal.git;a=summary

Package: plugin-check-bixi-montreal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins, python-lxml
Description: Checks empty or full Bixi (public bike service) stations, in Montreal.
 More information is available on Github:
 https://github.com/savoirfairelinux/sfl-shinken-plugins