Source: monitoring-plugins-sfl-check-emergency-rooms-quebec
Section: python
Priority: optional
Maintainer: Matthieu Caneill <matthieu.caneill@savoirfairelinux.com>
Build-Depends: debhelper (>= 9), python-setuptools
Standards-Version: 3.9.5
Homepage: https://github.com/savoirfairelinux/monitoring-tools
Vcs-Browser: https://github.com/savoirfairelinux/monitoring-tools.git

Package: monitoring-plugins-sfl-check-emergency-rooms-quebec
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-shinkenplugins
Description: Checks the occupation of stretchers in various hospitals in Quebec.
 More information is available on Github:
 https://github.com/savoirfairelinux/monitoring-tools